## Lists

Create a list, called "Numbers". Let it contain the numbers 10, 25, 40, and 50.

In [2]:
Numbers  = [10, 25, 40, 50]

Print the element at index 2 from the list.

In [3]:
print(Numbers[2])

40

Print the 0th element.

In [4]:
print(Numbers[0])

10

Print the third-to-last element using a minus sign in the brackets.

In [5]:
print(Numbers[-3])

25

Substitute the number 10 with the number 15.

In [7]:
Numbers[0] = 15

Delete the number 25 from the Numbers list.

In [8]:
del Numbers[1]
print(Numbers)

[15, 40, 50]

## Help Yourself with Methods

Append the number 100 to the Numbers list.

In [9]:
Numbers = [15, 40, 50]

In [10]:
Numbers.append(100)
print(Numbers)

[15, 40, 50, 100]

With the help of the "extend method", add the numbers 115 an 140 to the list.

In [11]:
Numbers.extend([115, 140])
print(Numbers)

[15, 40, 50, 100, 115, 140]

Print a statement, saying "The fourth element of the Numbers list is:" and then designate the value of the fourth element. Use a trailing comma.

In [12]:
print ("The fourt number is:", Numbers[3])

The fourt number is: 100

How many elements are there in the Numbers list?

In [13]:
print("There are ", len(Numbers), "numbers in the list.")

There are  6 numbers in the list.

## List Slicing

In [14]:
Numbers = [15, 40, 50, 100, 115, 140]

Using list slicing, obtain the numbers 100 and 115.

In [19]:
num_sl = Numbers[3:5]
print("My numbers are ", num_sl)

My numbers are  [100, 115]

Using slicing, extract the first four elements from the list.

In [21]:
num_sl = Numbers[0:4]
print(num_sl)

[15, 40, 50, 100]

Using slicing, extract all the elements from the list from the 3rd position onwards.

In [22]:
num_sl = Numbers[3:]
print(num_sl)

[100, 115, 140]

Using slicing, extract the last 4 elements from the list.

In [27]:
num_sl = Numbers[-4:]
print("My numbers are ", num_sl)

My numbers are  [50, 100, 115, 140]

Which is the position of the value 15?

In [28]:
ii = 0
while ii < len(Numbers):
    if Numbers[ii] == 15:
        print("Found 15 at index:", ii)
        break
    ii += 1

Found 15 at index: 0

Create a list, called "Two_Numbers". Let its elements be the values 1 and 2. Then, create a new one, named "All_Numbers", that will containt both the "Numbers" and the "Two_Numbers" lists.

In [29]:
Two_Numbers = [1,2]
All_Numbers = Numbers + Two_Numbers
print(All_Numbers)

[15, 40, 50, 100, 115, 140, 1, 2]

Sort all the numbers in the "Numbers" list from the largest to the smallest.

In [32]:
Numbers.sort(reverse=True)
print(Numbers)

[140, 115, 100, 50, 40, 15]

## Tuples

Create a tuple, called "Cars", with elements "BMW", "Dodge", and "Ford".

In [33]:
Cars = ("BMW", "Audi", "Toyota")

Access the second element of this tuple.

In [34]:
Cars[1]

'Audi'

Call a method that would allow you to extract the provided name and age separately. Then print the "name" and "age" values to see if you worked correctly.

In [38]:
name, age = 'Peter,24'.split(',')

In [ ]:
print(name, age)

Peter 24
next line

Create a function that takes as arguments the two values of a rectangle and then returns the Area and the Perimeter of the rectangle.
Call the function with arguments 2 and 10 to verify it worked correctly.

In [36]:
def rect_info(width, height):
    area = width * height
    perimeter = 2 * (width + height)
    return area, perimeter

rect_aa, rect_pp = rect_info(10, 5)
print(rect_aa, rect_pp)

50 30

## Dictionaries

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

This is the menu of a close-by restaurant:

In [42]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}

What is the second meal in the list?

In [48]:
Menu['meal_2']

'Fries'

Add a new meal - "Soup".

In [50]:
Menu['meal_5'] = "Soup"
print(Menu)

{'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Hamburger', 'meal_4': 'Lasagna', 'meal_5': 'Soup'}

Replace the Hamburger with a Cheeseburger.

In [60]:
found = False
for key, val in Menu.items():
    if val == "Hamburger":
        found = True
        break

if not found:
    print("Hamburger is not in the menu.")
else:
    print("Hamburger is in the menu, with key: ", key)

Hamburger is in the menu, with key:  meal_3

Attach the Desserts list in the form of a sixth meal.

In [61]:
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

In [62]:
Menu['dessert'] = Dessert
print(Menu)

{'meal_1': 'Spaghetti', 'meal_2': 'Fries', 'meal_3': 'Hamburger', 'meal_4': 'Lasagna', 'meal_5': 'Soup', 'dessert': ['Pancakes', 'Ice-cream', 'Tiramisu']}

Create a new dictionary that contains the first five meals as keys and assign the following five values as prices (in dollars):
10, 5, 8, 12, 5. 
Start by *Price_list = {}*.

In [98]:
Price_list = {}
prices = [10.0, 5.0, 8.0, 12.0, 5.0]
ii=0;

for key, val in Menu.items():
    if key.split('_')[0] == 'meal':
        ii = int(key.split('_')[1])
        Price_list[val] = prices[ii-1]

print (Price_list)

{'Spaghetti': 10.0, 'Fries': 5.0, 'Hamburger': 8.0, 'Lasagna': 12.0, 'Soup': 5.0}

Use the *.get()* method to check the price of the Spaghetti.

In [94]:
Price_list.get('Spaghetti')
Price_list.get(Menu['meal_1'])

10.0