<hr style="border:5px solid #108999"> </hr>

# List Comprehensions and Lambda Functions <hr style="border:4.5px solid #108999"> </hr>

## List Comprehensions

Execute the code cell below to create the following three lists: **products_on_sale**, **sale_prices**, **quantities**

In [1]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

The following code cell will execute a nested loop that will deliver all possible combinations of the elements from the **products_on_sale**, **sale_prices** and **quantities** lists:

In [2]:
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print ([chair_type, price*quantity])

['Chair_Type_1', 100000]
['Chair_Type_1', 150000]
['Chair_Type_1', 130000]
['Chair_Type_1', 120000]
['Chair_Type_1', 180000]
['Chair_Type_1', 156000]
['Chair_Type_1', 135000]
['Chair_Type_1', 202500]
['Chair_Type_1', 175500]
['Chair_Type_1', 150000]
['Chair_Type_1', 225000]
['Chair_Type_1', 195000]
['Chair_Type_2', 100000]
['Chair_Type_2', 150000]
['Chair_Type_2', 130000]
['Chair_Type_2', 120000]
['Chair_Type_2', 180000]
['Chair_Type_2', 156000]
['Chair_Type_2', 135000]
['Chair_Type_2', 202500]
['Chair_Type_2', 175500]
['Chair_Type_2', 150000]
['Chair_Type_2', 225000]
['Chair_Type_2', 195000]
['Chair_Type_3', 100000]
['Chair_Type_3', 150000]
['Chair_Type_3', 130000]
['Chair_Type_3', 120000]
['Chair_Type_3', 180000]
['Chair_Type_3', 156000]
['Chair_Type_3', 135000]
['Chair_Type_3', 202500]
['Chair_Type_3', 175500]
['Chair_Type_3', 150000]
['Chair_Type_3', 225000]
['Chair_Type_3', 195000]
['Chair_Type_4', 100000]
['Chair_Type_4', 150000]
['Chair_Type_4', 130000]
['Chair_Type_4', 120000]
['Chair_Type_4', 180000]
['Chair_Type_4', 156000]
['Chair_Type_4', 135000]
['Chair_Type_4', 202500]
['Chair_Type_4', 175500]
['Chair_Type_4', 150000]
['Chair_Type_4', 225000]
['Chair_Type_4', 195000]

Use a list comprehension to obtain the same output.  Store it in a variable called **sales_revenue**. <br/>
Make sure you refrain from obtaining any inexistent "None" values.

In [3]:
sales_revenue = filter(None, [print(chair_type, price * quantity) for chair_type in products_on_sale for price in sale_prices
                             for quantity in quantities])

Chair_Type_1 100000
Chair_Type_1 150000
Chair_Type_1 130000
Chair_Type_1 120000
Chair_Type_1 180000
Chair_Type_1 156000
Chair_Type_1 135000
Chair_Type_1 202500
Chair_Type_1 175500
Chair_Type_1 150000
Chair_Type_1 225000
Chair_Type_1 195000
Chair_Type_2 100000
Chair_Type_2 150000
Chair_Type_2 130000
Chair_Type_2 120000
Chair_Type_2 180000
Chair_Type_2 156000
Chair_Type_2 135000
Chair_Type_2 202500
Chair_Type_2 175500
Chair_Type_2 150000
Chair_Type_2 225000
Chair_Type_2 195000
Chair_Type_3 100000
Chair_Type_3 150000
Chair_Type_3 130000
Chair_Type_3 120000
Chair_Type_3 180000
Chair_Type_3 156000
Chair_Type_3 135000
Chair_Type_3 202500
Chair_Type_3 175500
Chair_Type_3 150000
Chair_Type_3 225000
Chair_Type_3 195000
Chair_Type_4 100000
Chair_Type_4 150000
Chair_Type_4 130000
Chair_Type_4 120000
Chair_Type_4 180000
Chair_Type_4 156000
Chair_Type_4 135000
Chair_Type_4 202500
Chair_Type_4 175500
Chair_Type_4 150000
Chair_Type_4 225000
Chair_Type_4 195000

**List comprehensions with Conditionals**
<br> <br> **Conditional on the iterable**

Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.

In [4]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
[num * 10 for num in list(range(1, 11)) if num % 2 == 0]

[20, 40, 60, 80, 100]

We consider the previous answer as the Pythonic way to obtain the output because it involved the use of a list comprehension.
Can you think of a way to obtain identical output in the "Non-Pythonic" way, i.e. by using a double nested loop?

In [6]:
for num in range(1, 11):
    if num % 2 == 0:
        print(num * 10, end = " ")

20 40 60 80 100

**Conditional on the output**

Return a list that contains the element from range(1, 11) multiplied by 10 if the number is even, and "None" if that number is odd.

In [7]:
[num * 10 if num % 2 == 0 else "None" for num in list(range(1, 11))]

['None', 20, 'None', 40, 'None', 60, 'None', 80, 'None', 100]

## Anonymous Functions

Define a function called **multiply_by_10** that will return a value ten times bigger than the argument.

In [8]:
def multiply_by_10(x):
    return x * 10

Apply **multiply_by_10** to the argument of 5. Clearly, you should obtain 50.

In [9]:
multiply_by_10(5)

50

#### Lambda Functions

This time, create **multiply_by_10** as a Lambda funciton. Execute it with an argument of 7.

In [10]:
(lambda x: x * 10)(7)

70

Define a Lambda function named **product_xy** that returns the product of two parameters, x and y. Execute it with arguments 4 and 20.

In [11]:
(lambda x, y: x * y)(4,20)

80

Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 3.
<br> $$
\frac{(135 - x^3)^4}{(1 + x)^5}
$$

In [12]:
(lambda x: (135 - x ** 3) ** 4 / (1 + x) ** 5)(3)

132860.25